body {
    background-color: rgba(23, 36, 36, 0.144);
}

#heading {
    font-weight: bold;
    font-size: 50px;
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white; 
    
}